{% extends "base.twig" %}

{% block title %}{{dg.subtitulo}}{% endblock %}
{% block contenido %}
  <div class="img-fondo-categoria margenSuperiror" style="background: url('{{dg.imagen.url}}') center center no-repeat; background-size: cover;">
    <h1>{{dg.titulo}}</h1>
  </div>
  <div class="container">
    <!-- Página tutoriales -->
    <section class="row">
      <div class="col-xs-12">
        <div class="categoria">
          <div class="page-header">            
            <h3>{{dg.subtitulo}}</h3>

            <div>
              {{dg.texto|raw}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="container">
    <div class="row">
      {% for tutorial in tutoriales %}   
        <article class="col-xs-12 col-sm-6 col-lg-4">

          <div class="col-xs-12">
            <div class="box-element-contenedor row">
              <div>                
                <img class="img-responsive box-element-imagen-pequena" alt="" src="http://ignaciofarre.local/sites/default/files/2016-06/crear-formularios-drupal-8.jpg">
              </div>
              <div class="box-element col-xs-12">
                <div class="box-element-contenido">
                  <h2 class="ng-binding"><a href="{{tutorial.url}}">{{tutorial.titulo}}</a></h2>
                  <div>{{tutorial.textoResumen}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-sombra"><div class="sombra"></div></div>
        </article>
      {% endfor %}
    </div>
  </div>
  <!-- end Página tutoriales -->

  {#{dump(experiencias)}#}
{% endblock %}
{% block scripts %}
  {{ parent() }}
  <script src="/../js/_custom.js"></script>
{% endblock %}